<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question and Answer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mine.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container main">
    <div class="row">
        <div class="col-lg-9">
            <h2>Question</h2>
            <hr>
            <ul class="list-group" th:each="question : ${pagination.questionList}">
                <li class="list-group-item">
                    <div class="media">
                        <img th:src="${question.user.avatarUrl}" class="meta-object img-thumbnail">
                        <div class="media-body">
                            <h5 class="mt-0">
                                <a th:href="@{'/question/' + ${question.id} }" th:text="${question.title}"></a>
                            </h5>
                            <p th:text="${question.description}"></p>
                            Comment Count: <span th:text="${question.commentCount}"></span>
                            View Count: <span th:text="${question.viewCount}"></span>
                            Date: <span th:text="${#dates.format(question.gmtCreated, 'dd MMMM yyyy')}"></span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/(page=${pagination.currentPage - 1})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:each="page : ${pagination.pages}" th:class="${page == pagination.currentPage} ? 'active' : '' ">
                    <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/(page=${pagination.currentPage + 1})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/(page=${pagination.totalPagesCount})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>Tutorial</h3>
            <p>
                Nothing to say now.
            </p>
        </div>
    </div>
</div>
</body>
</html>